<section class="author">
    <h4><%- config.author %></h4>
    <p class="author-info">
    <span class= "author-picture"> 
        <img src=<%- theme.author_pic %>>
    </span>    
    <span class="author-bio"><%- theme.bio %></span>
    </p>
</section>